.container
  .jumbotron
    %h1 Manliest things ever
    %p Want to know what the MANLIEST NAME EVER IS? How about the MANLIEST BURGER? Or the MANLIEST BEER? Well you've come to the right place amigo. Prepare the be out-manned!
    %p
      %a.btn.btn-lg.btn-primary{href: "manly", role: "button"} MAN UP!
  %ul.list-inline
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Burger
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Name
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center City
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Coffee
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Beer
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Wine
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Belt
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Cufflink
    %li.col-md-4
      .well{style: "margin: 10px"}
        .text-center Credit Card